<aside id="sidebar">
  <nav>
    <ul>
      <li class="all-movies">
        <%= link_to 'All Movies', root_path %>
      </li>
      <li class="create-movie">
        <%= link_to 'Add New Movie', new_movie_path %>
      </li>
    </ul>
  </nav>
</aside>
